$color-fg: rgb(10,10,10);
$color-bg: rgb(200,200,200);
$color-interactive: rgb(0,0,255);

// Breakpoints
$vp-sm: 600px;
$vp-md: 1000px;
$vp-lg: 1200px;
$vp-xl: 1600px;

// Typography
$text-sans: "egstad-sans", Helvetica, sans-serif;
$text-serif: Times, serif;
$text-mono: Courier, monospace;
$text-fluidity-start: $vp-sm;
$text-fluidity-end: $vp-xl;

// Transitions
$trans-ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$trans-duration: 400ms;
$trans-delay-intro: 750ms;

:root {
  --color-background: 18, 19, 4;
  --color-foreground: 200, 200, 200;
  --color-accent: 30, 30, 255;
  --background: rgb(var(--color-background));
  --foreground: rgb(var(--color-foreground));
  --accent: rgb(var(--color-accent));
}
