// t1: small 
$t1-size: 10px;
$t1-leading: $baseline;

// t2: medium
$t2-size: 16px;
$t2-leading: $baseline * 1.5;

// t3: large
$t3-size: 21px;
$t3-leading: $baseline * 2;

// t4: x-large
$t4-size: 32px;
$t4-leading: $baseline * 3;

// t5: billboard
$t5-size: 44px;
$t5-leading: $baseline * 4;




/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

[class*="text--"] {
    position: relative;
    align-self: baseline;
}

.text {
  /* Style
       ========================================================================== */

  &--link {
    // @include text-size(15px, 21px);
    font-size: 14px;
    letter-spacing: .16ch;
    font-family: 'TSTARTWPRO-Regular';
    line-height: 1;
    font-weight: 300;
  }

  &--serif {
    font-family: $text-serif;
  }

  &--sans {
    font-family: $text-sans;
  }

  &--mono {
    font-family: $text-mono;
  }

  &--medium {
    font-variation-settings: "wght" 500 !important;
  }

  &--bold {
    font-variation-settings: "wght" 800 !important;
  }
  
  &--italic {
    font-style: italic;
  }

  &--uppercase {
    @include text-uppercase();
  }

  &--truncate {
    @include text-truncate();
  }

  &--strike {
    text-decoration: line-through;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--1 {
    font-size: $t1-size;
    line-height: $t1-leading;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    word-spacing: 0.4px;
    font-variation-settings: 'wght' 400;
    
    @media screen and (min-width: $vp-xl) {
      font-size: calc-vw($t1-size, $vp-xl);
      line-height: calc-leading($t1-leading, $t1-size);
    }
  }
  
  &--2 {
    font-size: $t2-size;
    line-height: $t2-leading;
    font-variation-settings: 'wght' 400;

    @media screen and (min-width: $vp-xl) {
      font-variation-settings: 'wght' 350;
      font-size: calc(#{calc-vw($t2-size, $vp-xl)});
      line-height: calc-leading($t2-leading, $t2-size);
    }
  }
  &--3 {
    font-size: $t3-size;
    line-height: $t3-leading;
    font-variation-settings: 'wght' 350;
    
    @media screen and (min-width: $vp-xl) {
      font-size: calc(#{calc-vw($t3-size, $vp-xl)});
      line-height: calc-leading($t3-leading, $t3-size);
    }
  }
  &--4 {
    font-size: $t4-size;
    line-height: $t4-leading;
    font-variation-settings: 'wght' 500;
    
    @media screen and (min-width: $vp-xl) {
      font-size: calc(#{calc-vw($t4-size, $vp-xl)});
      line-height: calc-leading($t4-leading, $t4-size);
    }
  }
  &--5 {
    font-size: $t5-size;
    line-height: $t5-leading;
    font-variation-settings: 'wght' 500;
    
    @media screen and (min-width: $vp-xl) {
      font-size: calc(#{calc-vw($t5-size, $vp-xl)});
      line-height: calc-leading($t5-leading, $t5-size);
    }
  }
}

.ul {
  counter-reset: list;
  &_li {
    position: relative;

    &::before {
      width: 1.8em;
      display: inline-block;
      counter-increment: list;
      font-feature-settings: "tnum";
      content: counter(list, decimal-leading-zero);
      color: rgba(226, 59, 17, 0.986);
    }
  }
}

.ol {
  &_li {
    position: relative;

    &::before {
      width: 1.8em;
      padding-left: 0.5em;
      display: inline-block;
      font-feature-settings: "tnum";
      content: "•";
      color: rgba(226, 59, 17, 0.986);
    }
  }
}

/* Font Imports
       ========================================================================== */

@font-face {
  src: url("~static/fonts/egmetaphor.ttf");
  font-family: "EG-Metaphor";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
