/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

[class*="text--"] {
    position: relative;
    align-self: baseline;
}

.text {
  /* Style
       ========================================================================== */

  &--serif {
    font-family: $text-serif;
  }

  &--sans {
    font-family: $text-sans;
  }

  &--mono {
    font-family: $text-mono;
  }

  &--medium {
    font-variation-settings: "wght" 500 !important;
  }

  &--bold {
    font-variation-settings: "wght" 800 !important;
  }
  
  &--italic {
    font-style: italic;
  }

  &--uppercase {
    @include text-uppercase();
  }

  &--truncate {
    @include text-truncate();
  }

  &--strike {
    text-decoration: line-through;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  /* Size
       ========================================================================== */
       &--1 {
        // start here at 10
        // 1.33
        font-variation-settings: "wght" 500;
        font-variant-numeric: tabular-nums;
        text-transform: uppercase;
        letter-spacing: normal;
        font-size: 10px;
        letter-spacing: 0.8px;
        word-spacing: 1px;
        margin-bottom: 11px;
        @include leading(1.5);
        
        @media screen and (min-width: $vp-sm) {
          font-size: 11px;
        }
        @media screen and (min-width: $vp-md) {
          font-size: 12px;
        }
      }
    
      &--2 {
        //13.333 = 14
        font-size: 14px;
        letter-spacing: .05rem;
        word-spacing: .05rem;
        @include leading(2);
        
        
        @media screen and (min-width: $vp-sm) {
          font-size: 15px;
        }
        
        @media screen and (min-width: $vp-md) {
          font-size: 16px;
          letter-spacing: .05rem;
          word-spacing: 0;
        }
      }
      
      &--3 {
        //17.77 = 18
        font-size: 18px;
        @include leading(2.5);
        
        @media screen and (min-width: $vp-sm) {
          font-size: 19px;
        }
        @media screen and (min-width: $vp-md) {
          font-size: 20px;
        }
        @media screen and (min-width: $vp-lg) {
          font-size: 21px;
        }
      }
      
      &--4 {
        //23.6341 = 24
        font-size: 24px;
        @include leading(3);
        
        @media screen and (min-width: $vp-sm) {
          font-size: 26px;
        }
        @media screen and (min-width: $vp-md) {
          @include leading(3.5);
          font-size: 28px;
        }
        @media screen and (min-width: $vp-lg) {
          font-size: 30px;
        }
        @media screen and (min-width: $vp-xl) {
          font-size: 32px;
        }
        
      }
      
      &--5 {
        // 31.92 = 32
        font-size: 32px;
        @include leading(4);
        
        @media screen and (min-width: $vp-sm) {
          font-size: 36px;
        }
        @media screen and (min-width: $vp-md) {
          @include leading(5);
          font-size: 40px;
        }
        @media screen and (min-width: $vp-lg) {
          font-size: 44px;
        }
        @media screen and (min-width: $vp-xl) {
          font-size: 48px;
        }
      }
    
      &--6 {
        //42.56 = 44
        font-size: 44px;
        @include leading(5);
        @media screen and (min-width: $vp-sm) {
          font-size: 49px;
        }
        @media screen and (min-width: $vp-md) {
          @include leading(6);
          font-size: 54px;
        }
        @media screen and (min-width: $vp-lg) {
          @include leading(7);
          font-size: 58px;
        }
        @media screen and (min-width: $vp-xl) {
          font-size: 64px;
        }
      }
}

.ul {
  counter-reset: list;
  &_li {
    position: relative;

    &::before {
      width: 1.8em;
      display: inline-block;
      counter-increment: list;
      font-feature-settings: "tnum";
      content: counter(list, decimal-leading-zero);
      color: rgba(226, 59, 17, 0.986);
    }
  }
}

.ol {
  &_li {
    position: relative;

    &::before {
      width: 1.8em;
      padding-left: 0.5em;
      display: inline-block;
      font-feature-settings: "tnum";
      content: "•";
      color: rgba(226, 59, 17, 0.986);
    }
  }
}

/* Font Imports
       ========================================================================== */

@font-face {
  src: url("~static/fonts/egmetaphor.ttf");
  font-family: "egstad-sans";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
